@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
